/*officanve*/
:root{
    --offcanvas-width:270px;
    --topNavbarHeight: 56px;
}
.navbar-nav li{
    margin-bottom: 10px;
}
.navbar-nav li span{
    font-weight: bold;
    margin-left: 4px;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}
@media(min-width: 992px){
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}