


/* css cho menu */
.menu{
    background-color: #22a6b3;
}
.menu nav a{
    color: cornsilk;
    padding: 2%;
    font-weight: 600;
    background-color: cornsilk;
}
.menu nav a:hover{
    color: rgb(255, 205, 4);

}
.timkiem{
    font-size: 30px;
}
/* kt css cho menu */


/* css cho body */
.body{
    
}



/* css cho body */



/* csscho footer */
.footer{
    margin-top: 10px;
    background-color: #22a6b3;
}
.footer .row{
    padding-top: 15px;
}
.footer a{
    text-decoration-line: none;
    color: #ce1e44;
}
/* kt csscho footer */