
.menu{
    background-color: #22a6b3;
}
.menu nav a{
    color: cornsilk;
    padding: 2%;
    font-weight: 600;
}
.menu nav .chucnang{
    padding: 1%;
} 
.menu nav a:hover{
    color: rgb(255, 205, 4);
}
.dropdown-menu{
    border: 1px solid black;
}
.dropdown-menu li a{
    color: rgb(250, 117, 117);
}
.dropdown-menu li a:hover{
    color: rgb(245, 47, 47);
}
.dropdown-item{
    background-color: #ffffff;
}
/* kt css cho menu */

/* css cho body */
.body .row{
    margin: auto;
    justify-content: center;
}
.body .avatar_user{
    width: 100%;
}
.body .avatar_user img{
    margin: auto;
    width: 70%;
}
.body .nhiemvu p{
   color: black;
}
/* css cho phan nhiem vu */
.nhiemvu .card{
    border: 2px solid rgb(14, 14, 14);
}
.bangtinnhiemvu .card-body .btn_guinv{
    margin-right: 5px;
}
.bangtinnhiemvu .card-body .btn_guinv:hover{
    background-color: rgb(101, 167, 101);
}
.bangtinnhiemvu .card-body .btn_xoanv:hover{
    color: white;
    background-color: rgb(201, 67, 67);
}
/* css cho phan nhiem vu */
.chucnanguser i{
    color: rgb(238, 118, 118);
    font-size: 22px;
}
.chucnanguser a:hover{
    background-color: rgb(212, 62, 112);
}
/* kt css cho body */

/* csscho footer */
.footer{
    margin-top: 10px;
    background-color: #22a6b3;
}
.footer .row{
    padding-top: 15px;
}
.footer a{
    text-decoration-line: none;
    color: #ce1e44;
}
/* kt csscho footer */


/* CSS cho banbe.php */
.body .trangbanbe{
    justify-content: flex-start;
}
.body .avatar_friend  img{
    margin: auto;
    width: 20%;
}
.body .avatar_friend  a{
    text-decoration-line: none;
    color: #ff083e;
}
/* kt CSS cho banbe.php */
.card-body a{
    text-decoration: none;
}
.user_timkiem{
    background-color: violet;
}

/* CSS cho timkiem.php */
